<div class="<%= "noPadding" in locals && noPadding ? "" : "p-4" %> <%= "centered" in locals && centered ? "text-center" : "fixed top-0 left-0" %>">
    <a class="inline-flex items-center text-blue-400 hover:text-blue-300 transition-colors duration-200 font-semibold group" href="<%= href %>">
        <svg class="w-5 h-5 mr-2 transform group-hover:-translate-x-1 transition-transform duration-200" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18"></path>
        </svg>
        <%= text %>
    </a>
</div>