<div class="space-y-4">
    <div>
        <label for="user-to-add" class="block text-2xl font-bold text-gray-100">Add user</label>
        <input id="user-to-add" type="text" class="w-full p-2 rounded-lg bg-gray-700 text-gray-100 focus:outline-none" placeholder="Enter user email" required>
        <button id="add-button" type="submit" class="p-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 focus:outline-none">Add</button>
    </div>
    <div>
        <label for="user-to-remove" class="block text-2xl font-bold text-gray-100">Remove user</label>
        <input id="user-to-remove" type="text" class="w-full p-2 rounded-lg bg-gray-700 text-gray-100 focus:outline-none" placeholder="Enter a user email" required>
        <button id="remove-button" type="submit" class="p-2 rounded-lg bg-blue-500 text-white hover:bg-blue-600 focus:outline-none">Remove</button>
    </div>
</div>