<h2 class="text-3xl font-bold text-center mb-6" id="problem-name"></h2>
        
<div id="result"></div>
<br>
<div class="space-y-4 bg-gray-700 p-4 rounded-lg" id="problem-section">
    <div id="problem-statement"></div>
    <h4 class="font-bold">INPUT FORMAT:</h4>
    <span id="input-format"></span><br>
    <h4 class="font-bold">OUTPUT FORMAT:</h4>
    <span id="output-format"></span><br>
</div>
<br>
<p>Write code below:</p>
<br>
<div id="container">
    <pre id="editor"></pre>
</div><br>

<button id="submit-button" class="bg-blue-500 text-white p-2 rounded hover:bg-blue-600">Submit</button>