<p class="<%= typeof noPadding != "undefined" && noPadding ? "" : "p-4" %> <%= typeof centered != "undefined" && centered ? "text-center" : "" %>">
    <a class="hover:underline text-blue-400" href="<%= href %>">← <%= text %></a>
</p>