<div>
    <button id="<%= id %>" class="<%= typeof small != "undefined" && small ? "" : "w-full" %> text-lg p-2 mt-3 rounded-lg bg-blue-500 text-white hover:bg-blue-600 focus:outline-none" type="submit"><%= text %></button>
</div>